.header {
  min-height: 50vh;
  background-color: green;
}

.separator {
  display: flex;
  align-items: center;
  color: #989898;
  text-shadow: 1px 1px 3px #e0e0e0;
  font-size: 12px;
  margin-top: 40px;
  width: 100%;
}

.separator::before, .separator::after {
  flex: 1;
  content: '';
  height: 1px;
  background-color: #a0a0a0;
  margin: 10px;
}
